body {
  display: flex;
  justify-content: center;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

div.tooltip {
  position: absolute;
  padding: 10px;                
  border-radius: 2px;            
  pointer-events: none;  
  color: #6700f9;
  background-color: #fff;
}